{% extends 'base.html.twig' %}

{% block title %}Nouveau Calendrier{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="mb-4">Créer un évènement</h1>

        <div class="card bg-light p-4 mb-4">
            {{ include('calendar/_form.html.twig') }}
        </div>

        <a href="{{ path('app_calendar_index') }}" class="btn btn-secondary">Retour à la liste</a>
    </div>
{% endblock %}
