{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}
    <div id="calendrier"></div>

    <a href="{{ path('app_calendar_new') }}" class="btn btn-primary mt-3">Ajouter un évent</a>
{% endblock %}

{% block javascripts %}
    <script>
        window.onload = () => {
            let calendarElt = document.querySelector("#calendrier");

            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'dayGridWeek',
                locale : 'fr',
                timeZone : 'Europe/Paris',
                headerToolbar:{
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek'
                },
                events: {{ data|raw }},
                eventResizableFromStart: true
            })

            calendar.render();
        }
    </script>
{% endblock %}
